In [1]:
import pandas as pd

In [113]:
netflix_df = pd.read_csv(r"c:\users\mdeane\pythonDA\python-class\Lesson_3\netflix_titles.csv")

In [114]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [5]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 3E11-2255

 Directory of C:\Users\mdeane\PythonDA\python-class\Lesson_3

18/05/2020  12:43 PM    <DIR>          .
18/05/2020  12:43 PM    <DIR>          ..
18/05/2020  12:39 PM    <DIR>          .ipynb_checkpoints
18/05/2020  12:43 PM            69,465 lesson_3.ipynb
16/05/2020  08:31 AM         4,197,318 Mobile_Speed_Camera_Visits_and_Stays.tsv
20/01/2020  07:33 AM         2,410,660 netflix_titles.csv
16/05/2020  08:30 AM         2,192,732 occupational_licences.csv
16/05/2020  08:30 AM         2,181,555 occupational_licences.tsv
18/05/2020  12:39 PM             8,033 panda.ipynb
16/05/2020  08:29 AM           124,931 supermarket_demo.xlsx
18/05/2020  12:36 PM             8,033 Untitled.ipynb
18/05/2020  12:34 PM                 0 untitled.txt
16/05/2020  08:32 AM        14,167,326 weatherAUS.csv
              10 File(s)     25,360,053 bytes
               3 Dir(s)  648,557,735,936 bytes free

In [6]:
df_table = pd.read_table('occupational_licences.tsv')
df_table.head()

,LicenceNumber,LicenceCode,LicenceType,LicenseeOrg,liccount,lictotal,Licensees,TradingNames,Address,Suburb,State,Postcode,Dateexpiry,Dateissued
0,17721736,SEMP,"1A - patrol, guard, watch or protect property ...",Individual,1,2,Hammad HANIF,NaN,NaN,NaN,NaN,NaN,08/02/2020,09/02/2017
1,17723761,SEMP,1C - act as a crowd controller,Individual,1,3,Mark Richard WOODALL,NaN,NaN,NaN,NaN,NaN,24/10/2021,25/10/2018
2,20000291,MVR,Traders,Individual,1,1,Daniel Robert KEIGHLEY,Daniel Robert KEIGHLEY,"Unit 13, 1 Rouseabout Street",LAWSON,ACT,2617.0,08/05/2020,09/05/2019
3,17723543,SEMP,"1A - patrol, guard, watch or protect property ...",Individual,1,3,Stephen Francis MCCRACKEN,NaN,NaN,NaN,NaN,NaN,22/08/2021,23/08/2018
4,17725053,SEMP,"1A - patrol, guard, watch or protect property ...",Individual,1,3,Neori Kurimalawai NADRUKU,NaN,NaN,NaN,NaN,NaN,19/09/2020,20/09/2019

In [13]:

#top 10 rows
netflix_df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

netflix_df.rating.unique()

In [27]:
#release_year = 2017
movies= netflix_df.loc[netflix_df['release_year'] == 2017]
numOfmovies = movies.shape[0]
print(f"the movie count is {numOfmovies}!")

the movie count is 959!

In [30]:
#Find the number of records with NA or Null values for cast.
netflix_df['cast'].isna().sum()

570

In [57]:
#Print the names of 10 random movies which are available in UnitedStates.
import numpy as np
import random
moviesUSA= netflix_df.loc[netflix_df['country'] == 'United States']
movies = pd.DataFrame(data=moviesUSA)
output = movies.sample(10)
output['title']

3987                  Girlfriend's Day
2184              Love, Death & Robots
3717         Power Rangers Jungle Fury
600                Living Undocumented
812              Nikki Glaser: Bangin’
3679                         Residente
1673       Tig Notaro Happy To Be Here
4328    Kevin Hart: Don’t F**k This Up
3031                 Chris Tucker Live
781                           Bad Boys
Name: title, dtype: object

In [134]:
#List all the records which are listed in more than one category. For example, Good People is listed in Action & Adventure, Thrillers.
#Hint: use function
netflix_df['listed_in'] = netflix_df['listed_in'].astype('str')
modDf = netflix_df.assign(Multiple = netflix_df.listed_in.str.count(','))
modDf.head()
Mmovies= modDf.loc[modDf['Multiple'] > 0]
Mmovies

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Multiple
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,1
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...,2
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",2
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",1
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6226,70243132,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder...",2
6227,80005756,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ...",1
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",2
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",2
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,1

In [118]:
pd.__version__

'1.0.1'

In [138]:
#Create a new column Category where movies release in 2019 are categorized as 'New Release' 
#and movies released in 2016,2017,2018 are categorized as 'A Bit old' and anything older than that is categorized 'Old but Gold'. 
#List random 10 records from the dataframe and verify the same.

# Create a list to store the data
Category = []


for i in netflix_df['release_year']:
    if i >= 2019:
        Category.append('New Release')
    elif i >= 2016:
        Category.append('A Bit old')
    else:
        Category.append('Old but Gold')
        
# Create a column from the list
netflix_df['Category'] = Category

netflix_df.head()

#ten random records
random_subset = netflix_df.sample(n=10)
random_subset.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Category
5474,70077557,Movie,Get Smart,Peter Segal,"Steve Carell, Anne Hathaway, Dwayne Johnson, A...",United States,"April 1, 2019",2008,PG-13,110 min,"Action & Adventure, Comedies",When the identities of secret agents are compr...,Old but Gold
4606,80039517,Movie,The Ridiculous 6,Frank Coraci,"Adam Sandler, Terry Crews, Jorge Garcia, Taylo...",United States,"December 11, 2015",2015,TV-14,120 min,"Action & Adventure, Comedies","When his outlaw dad is kidnapped, Tommy “White...",Old but Gold
4515,81036745,Movie,Kita Kita,Sigrid Andrea Bernardo,"Alessandra de Rossi, Empoy Marquez",Philippines,"December 15, 2018",2017,TV-PG,84 min,"International Movies, Romantic Movies",When a tour guide in Japan goes blind after se...,A Bit old
4658,81028939,TV Show,Haunted House,NaN,"Jo Hyun-jung, Gim Young-eun, Gim Chae-ha, I So...",NaN,"December 1, 2018",2017,TV-Y7-FV,1 Season,"Kids' TV, Korean TV Shows",With help from a 102-year-old goblin dwelling ...,A Bit old
588,80118101,Movie,One of Us,"Heidi Ewing, Rachel Grady",NaN,United States,"October 20, 2017",2017,TV-14,95 min,Documentaries,"In the wake of trauma and abuse, three Hasidic...",A Bit old

In [139]:
netflix_df.drop(['Category'], axis=1, inplace=True)
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...